In [19]:
import pandas as pd
import datetime as dt
data = pd.read_csv('D:/aiml/cricket.csv')
data

     Batsman  Runs   Mins   BF  4s  6s      SR  Pos Dismissal  Inns
0          1    33   78.0   56   5   0   58.92    3    caught     2
1          1    33   77.0   49   6   0   67.34    3    caught     4
2          1   215  503.0  346  25   1   62.13    3       lbw     1
3          1    58   67.0   48   9   0  120.83    3    bowled     3
4          1     7   26.0   18   1   0   38.88    3    caught     1
..       ...   ...    ...  ...  ..  ..     ...  ...       ...   ...
291        6     0    2.0    4   0   0    0.00    1    bowled     4
292        6    52    NaN   53   6   1   98.11    1    bowled     1
293        6    41    NaN   62   6   0   66.12    1    caught     3
294        6     4    NaN    3   1   0  133.33    1    caught     2
295        6     2    NaN    7   0   0   28.57    1       lbw     4

[296 rows x 10 columns]

In [20]:
print(data.shape)

(296, 10)

In [21]:
print(data.columns)

Index(['Batsman', 'Runs', 'Mins', 'BF', '4s', '6s', 'SR', 'Pos', 'Dismissal',
       'Inns'],
      dtype='object')

In [22]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Batsman    296 non-null    int64
 1   Runs       296 non-null    int64
 2   Mins       292 non-null    float64
 3   BF         296 non-null    int64
 4   4s         296 non-null    int64
 5   6s         296 non-null    int64
 6   SR         296 non-null    float64
 7   Pos        296 non-null    int64
 8   Dismissal  296 non-null    object
 9   Inns       296 non-null    int64
dtypes: float64(2), int64(7), object(1)
memory usage: 23.2+ KB
None

In [23]:
data_df = data[['Batsman', 'Runs', 'Mins', 'BF', '4s', '6s', 'SR', 'Pos', 'Dismissal','Inns']]
data_df

     Batsman  Runs   Mins   BF  4s  6s      SR  Pos Dismissal  Inns
0          1    33   78.0   56   5   0   58.92    3    caught     2
1          1    33   77.0   49   6   0   67.34    3    caught     4
2          1   215  503.0  346  25   1   62.13    3       lbw     1
3          1    58   67.0   48   9   0  120.83    3    bowled     3
4          1     7   26.0   18   1   0   38.88    3    caught     1
..       ...   ...    ...  ...  ..  ..     ...  ...       ...   ...
291        6     0    2.0    4   0   0    0.00    1    bowled     4
292        6    52    NaN   53   6   1   98.11    1    bowled     1
293        6    41    NaN   62   6   0   66.12    1    caught     3
294        6     4    NaN    3   1   0  133.33    1    caught     2
295        6     2    NaN    7   0   0   28.57    1       lbw     4

[296 rows x 10 columns]

In [24]:
cat_features = ['Batsman', 'Runs', 'Mins', 'BF', '4s', '6s', 'SR', 'Pos', 'Dismissal','Inns']
data_df = pd.get_dummies(data_df,columns=cat_features)
print(data_df.columns)

Index(['Batsman_1', 'Batsman_2', 'Batsman_3', 'Batsman_4', 'Batsman_5',
       'Batsman_6', 'Runs_0', 'Runs_1', 'Runs_2', 'Runs_3',
       ...
       'Dismissal_caught', 'Dismissal_hit wicket', 'Dismissal_lbw',
       'Dismissal_not out', 'Dismissal_run out', 'Dismissal_stumped', 'Inns_1',
       'Inns_2', 'Inns_3', 'Inns_4'],
      dtype='object', length=749)

In [31]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(data_df[['Batsman', 'Runs', 'Mins', 'BF', '4s', '6s', 'SR', 'Pos', 'Dismissal','Inns']]) 

data_normalized = scaler.transform(data_df[['Batsman', 'Runs', 'Mins', 'BF', '4s', '6s', 'SR', 'Pos', 'Dismissal','Inns']])
data_normalized

KeyError: "None of [Index(['Batsman', 'Runs', 'Mins', 'BF', '4s', '6s', 'SR', 'Pos', 'Dismissal',\n       'Inns'],\n      dtype='object')] are in the [columns]"

In [26]:
data_df_normalized=pd.DataFrame(data_normalized,columns=['price', 'bedrooms', 'bathrooms', 'sqft_living', 'floors'])
data_df_normalized=data_df_normalized.join(data_df[data_df.columns.drop(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'floors'])])
data_df_normalized

NameError: name 'data_normalized' is not defined

In [27]:
Y = data_df_normalized['price']
X = data_df_normalized[data_df_normalized.columns.drop('price')]
print(X.shape)

NameError: name 'data_df_normalized' is not defined

In [28]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2, random_state=100)
X_train.shape , X_test.shape

NameError: name 'X' is not defined

In [29]:

from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train,Y_train)

train_score=model.score(X_train,Y_train)
test_score=model.score(X_test,Y_test)
print('Train Score (R-Squared): ',train_score)
print('Test Score (R-Squared)',test_score)

NameError: name 'X_train' is not defined

In [30]:
from sklearn.metrics import mean_squared_error

train_predictions = model.predict(X_train)
train_RMSE=mean_squared_error(Y_train,train_predictions)**0.5

test_predictions = model.predict(X_test)
test_RMSE=mean_squared_error(Y_test,test_predictions)**0.5
print('Train RMSE : ',train_RMSE)
print('Test RMSE : ',test_RMSE)

NameError: name 'X_train' is not defined