In [249]:
import pandas as pd
import datetime as dt
data = pd.read_csv('D:/aiml/cricket.csv')
data

     Batsman  Runs   Mins   BF  4s  6s      SR  Pos Dismissal  Inns
0          1    33   78.0   56   5   0   58.92    3    caught     2
1          1    33   77.0   49   6   0   67.34    3    caught     4
2          1   215  503.0  346  25   1   62.13    3       lbw     1
3          1    58   67.0   48   9   0  120.83    3    bowled     3
4          1     7   26.0   18   1   0   38.88    3    caught     1
..       ...   ...    ...  ...  ..  ..     ...  ...       ...   ...
291        6     0    2.0    4   0   0    0.00    1    bowled     4
292        6    52    NaN   53   6   1   98.11    1    bowled     1
293        6    41    NaN   62   6   0   66.12    1    caught     3
294        6     4    NaN    3   1   0  133.33    1    caught     2
295        6     2    NaN    7   0   0   28.57    1       lbw     4

[296 rows x 10 columns]

In [250]:
print(data.shape)

(296, 10)

In [251]:
print(data.columns)

Index(['Batsman', 'Runs', 'Mins', 'BF', '4s', '6s', 'SR', 'Pos', 'Dismissal',
       'Inns'],
      dtype='object')

In [252]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Batsman    296 non-null    int64
 1   Runs       296 non-null    int64
 2   Mins       292 non-null    float64
 3   BF         296 non-null    int64
 4   4s         296 non-null    int64
 5   6s         296 non-null    int64
 6   SR         296 non-null    float64
 7   Pos        296 non-null    int64
 8   Dismissal  296 non-null    object
 9   Inns       296 non-null    int64
dtypes: float64(2), int64(7), object(1)
memory usage: 23.2+ KB
None

In [253]:
data.isnull()

,Batsman,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
291,False,False,False,False,False,False,False,False,False,False
292,False,False,True,False,False,False,False,False,False,False
293,False,False,True,False,False,False,False,False,False,False
294,False,False,True,False,False,False,False,False,False,False
295,False,False,True,False,False,False,False,False,False,False

In [254]:
data.fillna(1)

     Batsman  Runs   Mins   BF  4s  6s      SR  Pos Dismissal  Inns
0          1    33   78.0   56   5   0   58.92    3    caught     2
1          1    33   77.0   49   6   0   67.34    3    caught     4
2          1   215  503.0  346  25   1   62.13    3       lbw     1
3          1    58   67.0   48   9   0  120.83    3    bowled     3
4          1     7   26.0   18   1   0   38.88    3    caught     1
..       ...   ...    ...  ...  ..  ..     ...  ...       ...   ...
291        6     0    2.0    4   0   0    0.00    1    bowled     4
292        6    52    1.0   53   6   1   98.11    1    bowled     1
293        6    41    1.0   62   6   0   66.12    1    caught     3
294        6     4    1.0    3   1   0  133.33    1    caught     2
295        6     2    1.0    7   0   0   28.57    1       lbw     4

[296 rows x 10 columns]

In [255]:
data_df = data[['Batsman', 'Runs', 'Mins', 'BF', '4s', '6s', 'SR', 'Pos', 'Dismissal','Inns']]
data_df

     Batsman  Runs   Mins   BF  4s  6s      SR  Pos Dismissal  Inns
0          1    33   78.0   56   5   0   58.92    3    caught     2
1          1    33   77.0   49   6   0   67.34    3    caught     4
2          1   215  503.0  346  25   1   62.13    3       lbw     1
3          1    58   67.0   48   9   0  120.83    3    bowled     3
4          1     7   26.0   18   1   0   38.88    3    caught     1
..       ...   ...    ...  ...  ..  ..     ...  ...       ...   ...
291        6     0    2.0    4   0   0    0.00    1    bowled     4
292        6    52    NaN   53   6   1   98.11    1    bowled     1
293        6    41    NaN   62   6   0   66.12    1    caught     3
294        6     4    NaN    3   1   0  133.33    1    caught     2
295        6     2    NaN    7   0   0   28.57    1       lbw     4

[296 rows x 10 columns]

In [256]:
data.fillna(data.mean())
data['Mins'].fillna(data['Mins'].mean(),inplace=True)
data

C:\Users\wpt\AppData\Local\Temp\ipykernel_4120\972357324.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.fillna(data.mean())

     Batsman  Runs        Mins   BF  4s  6s      SR  Pos Dismissal  Inns
0          1    33   78.000000   56   5   0   58.92    3    caught     2
1          1    33   77.000000   49   6   0   67.34    3    caught     4
2          1   215  503.000000  346  25   1   62.13    3       lbw     1
3          1    58   67.000000   48   9   0  120.83    3    bowled     3
4          1     7   26.000000   18   1   0   38.88    3    caught     1
..       ...   ...         ...  ...  ..  ..     ...  ...       ...   ...
291        6     0    2.000000    4   0   0    0.00    1    bowled     4
292        6    52  122.986301   53   6   1   98.11    1    bowled     1
293        6    41  122.986301   62   6   0   66.12    1    caught     3
294        6     4  122.986301    3   1   0  133.33    1    caught     2
295        6     2  122.986301    7   0   0   28.57    1       lbw     4

[296 rows x 10 columns]

In [257]:
cat_features = ['Dismissal']
data_df = pd.get_dummies(data_df,columns=cat_features)
print(data_df.columns)

Index(['Batsman', 'Runs', 'Mins', 'BF', '4s', '6s', 'SR', 'Pos', 'Inns',
       'Dismissal_bowled', 'Dismissal_caught', 'Dismissal_hit wicket',
       'Dismissal_lbw', 'Dismissal_not out', 'Dismissal_run out',
       'Dismissal_stumped'],
      dtype='object')

In [258]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(data_df[['4s','6s','SR']]) 

data_normalized = scaler.transform(data_df[['4s','6s','SR']])
data_normalized

array([[-1.58847741e-01, -3.85242589e-01, -6.69905518e-02],
       [ 2.17599646e-03, -3.85242589e-01,  1.98209334e-01],
       [ 3.06162702e+00,  1.54749989e+00,  3.41129676e-02],
       [ 4.85247210e-01, -3.85242589e-01,  1.88295303e+00],
       [-8.02942693e-01, -3.85242589e-01, -6.98178879e-01],
       [-8.02942693e-01, -3.85242589e-01, -9.89835761e-01],
       [-8.02942693e-01, -3.85242589e-01,  4.37652488e+00],
       [-8.02942693e-01, -3.85242589e-01, -1.73133499e-01],
       [ 1.77343711e+00,  3.48024237e+00, -1.35652755e-01],
       [ 3.24223472e-01, -3.85242589e-01,  1.52151135e-02],
       [-9.63966431e-01, -3.85242589e-01, -3.47938649e-01],
       [-4.80895217e-01, -3.85242589e-01, -6.72351812e-01],
       [ 1.93446085e+00, -3.85242589e-01,  4.26558404e-01],
       [-1.58847741e-01, -3.85242589e-01, -4.58491096e-01],
       [-6.41918955e-01, -3.85242589e-01, -8.55734417e-02],
       [-8.02942693e-01, -3.85242589e-01, -9.38496590e-01],
       [ 3.24223472e-01, -3.85242589e-01,  4.61519435e-01],
       [-1.58847741e-01, -3.85242589e-01,  1.22688253e+00],
       [ 6.46270948e-01,  1.54749989e+00,  7.37984612e-02],
       [ 1.77343711e+00, -3.85242589e-01, -1.19274615e-01],
       [-3.19871479e-01,  1.54749989e+00,  1.70594313e+00],
       [-4.80895217e-01, -3.85242589e-01, -1.40062254e-01],
       [-8.02942693e-01, -3.85242589e-01, -5.36917191e-01],
       [-8.02942693e-01, -3.85242589e-01, -3.47938649e-01],
       [-4.80895217e-01, -3.85242589e-01, -2.93764801e-01],
       [ 6.46270948e-01,  1.54749989e+00, -2.03685030e-01],
       [-8.02942693e-01, -3.85242589e-01, -1.23054186e-01],
       [-9.63966431e-01, -3.85242589e-01, -1.92275982e+00],
       [-1.58847741e-01, -3.85242589e-01, -7.46053443e-01],
       [-1.58847741e-01, -3.85242589e-01, -3.29744145e-02],
       [-1.58847741e-01, -3.85242589e-01, -7.32195016e-01],
       [ 3.24223472e-01,  1.54749989e+00, -2.78331554e-01],
       [-1.58847741e-01, -3.85242589e-01,  4.99945071e-01],
       [ 2.09548459e+00, -3.85242589e-01, -7.86442285e-02],
       [ 8.07294686e-01, -3.85242589e-01,  9.11918291e-01],
       [ 1.12934216e+00,  1.54749989e+00,  1.89705300e-01],
       [-4.80895217e-01, -3.85242589e-01, -3.29744145e-02],
       [ 3.24223472e-01,  1.54749989e+00,  2.39854948e+00],
       [-6.41918955e-01, -3.85242589e-01, -1.02763147e+00],
       [ 8.07294686e-01, -3.85242589e-01, -2.23212812e-01],
       [-9.63966431e-01, -3.85242589e-01, -1.43834483e+00],
       [-4.80895217e-01, -3.85242589e-01, -8.55734417e-02],
       [ 1.77343711e+00, -3.85242589e-01, -3.69986146e-01],
       [-6.41918955e-01, -3.85242589e-01, -9.50150267e-01],
       [ 1.29036590e+00, -3.85242589e-01,  9.80507073e-02],
       [-4.80895217e-01, -3.85242589e-01,  1.64672985e+00],
       [-8.02942693e-01, -3.85242589e-01, -3.47938649e-01],
       [-4.80895217e-01, -3.85242589e-01, -7.45738478e-01],
       [ 3.24223472e-01, -3.85242589e-01,  2.05695055e-02],
       [-4.80895217e-01, -3.85242589e-01,  3.67635938e+00],
       [ 1.29036590e+00, -3.85242589e-01, -5.60539508e-01],
       [-4.80895217e-01, -3.85242589e-01, -5.23058764e-01],
       [-8.02942693e-01, -3.85242589e-01, -3.47938649e-01],
       [ 3.86674570e+00,  1.54749989e+00, -3.64390210e-02],
       [ 3.24223472e-01, -3.85242589e-01, -3.88569036e-01],
       [ 2.17599646e-03, -3.85242589e-01, -7.54557477e-01],
       [-1.58847741e-01, -3.85242589e-01, -2.68252698e-01],
       [ 8.07294686e-01, -3.85242589e-01, -2.24472669e-01],
       [-9.63966431e-01, -3.85242589e-01, -9.77867120e-01],
       [ 3.24223472e-01,  1.54749989e+00,  3.73014485e-01],
       [-9.63966431e-01, -3.85242589e-01, -2.65103056e-01],
       [-4.80895217e-01, -3.85242589e-01, -9.77867120e-01],
       [-6.41918955e-01, -3.85242589e-01, -8.72984029e-01],
       [-9.63966431e-01, -3.85242589e-01, -1.13534924e+00],
       [-3.19871479e-01, -3.85242589e-01, -6.36445889e-01],
       [-6.41918955e-01, -3.85242589e-01, -6.62902885e-01],
       [-6.41918955e-01, -3.85242589e-01, -2.43055559e-01],
       [ 1.63199734e-01, -3.85242589e-01,  3.12226387e-01],
       [ 6.46270948e-01, -3.85242589e-01, -2.43055559e-01],
       [ 2.90060328e+00, -3.85242589e-01,  3.03092424e-01],
       [-3.19871479e-01,  1.54749989e+00, -3.83214644e-01],
       [-9.63966431e-01, -3.85242589e-01, -7.41643943e-01],
       [-9.63966431e-01, -3.85242589e-01, -1.18196394e+00],
       [-6.41918955e-01, -3.85242589e-01,  9.11918291e-01],
       [-4.80895217e-01, -3.85242589e-01, -5.05420767e-01],
       [-8.02942693e-01, -3.85242589e-01, -9.10464773e-01],
       [ 1.63199734e-01, -3.85242589e-01,  2.57737574e-01],
       [ 2.25650833e+00, -3.85242589e-01, -1.06991010e-01],
       [-8.02942693e-01, -3.85242589e-01, -1.06119538e-02],
       [-1.58847741e-01, -3.85242589e-01, -5.96760395e-01],
       [ 2.17599646e-03, -3.85242589e-01, -3.47938649e-01],
       [ 1.93446085e+00, -3.85242589e-01,  4.70265012e-02],
       [ 3.24223472e-01, -3.85242589e-01,  4.17739406e-01],
       [ 4.85247210e-01, -3.85242589e-01, -3.85419393e-01],
       [-9.63966431e-01, -3.85242589e-01, -2.04944887e-01],
       [ 3.06162702e+00,  1.54749989e+00,  2.53958004e-01],
       [-8.02942693e-01, -3.85242589e-01, -2.93764801e-01],
       [ 2.90060328e+00, -3.85242589e-01,  6.88923612e-01],
       [-6.41918955e-01,  1.54749989e+00,  1.06940041e+00],
       [-9.63966431e-01, -3.85242589e-01, -1.92275982e+00],
       [-8.02942693e-01, -3.85242589e-01, -8.16290467e-01],
       [-6.41918955e-01, -3.85242589e-01,  3.00257746e-01],
       [-8.02942693e-01, -3.85242589e-01, -3.29744145e-02],
       [-9.63966431e-01, -3.85242589e-01, -1.10133310e+00],
       [-9.63966431e-01, -3.85242589e-01, -7.41643943e-01],
       [-1.58847741e-01,  1.54749989e+00,  4.62464327e-01],
       [-6.41918955e-01, -3.85242589e-01, -5.11090123e-01],
       [-4.80895217e-01, -3.85242589e-01, -3.47938649e-01],
       [-9.63966431e-01, -3.85242589e-01, -1.92275982e+00],
       [ 9.68318423e-01,  3.48024237e+00,  8.29712625e-01],
       [ 1.77343711e+00,  3.48024237e+00,  5.89709878e-01],
       [ 3.06162702e+00, -3.85242589e-01,  7.43727389e-01],
       [-4.80895217e-01, -3.85242589e-01,  7.92231881e-01],
       [-9.63966431e-01, -3.85242589e-01, -7.11407377e-01],
       [-3.19871479e-01, -3.85242589e-01,  2.81989821e-01],
       [ 1.45138964e+00, -3.85242589e-01,  2.97738032e-01],
       [-8.02942693e-01, -3.85242589e-01, -1.13534924e+00],
       [ 4.85247210e-01, -3.85242589e-01, -3.18332011e-01],
       [ 2.17599646e-03, -3.85242589e-01, -2.88410409e-01],
       [ 1.77343711e+00, -3.85242589e-01,  6.19631481e-01],
       [ 4.85247210e-01, -3.85242589e-01,  2.00414084e-01],
       [-9.63966431e-01, -3.85242589e-01, -1.13534924e+00],
       [-6.41918955e-01, -3.85242589e-01, -7.06052985e-01],
       [ 4.85247210e-01,  1.54749989e+00,  7.22939750e-01],
       [ 2.17599646e-03,  1.54749989e+00, -2.32105232e-02],
       [ 2.09548459e+00,  1.54749989e+00,  4.03566015e-01],
       [-8.02942693e-01, -3.85242589e-01, -1.43834483e+00],
       [-8.02942693e-01, -3.85242589e-01, -7.68100939e-01],
       [-6.41918955e-01,  1.54749989e+00,  1.20098204e-01],
       [-1.58847741e-01,  1.54749989e+00, -1.26518792e-01],
       [-1.58847741e-01, -3.85242589e-01,  7.06488189e-02],
       [-1.58847741e-01, -3.85242589e-01,  1.22688253e+00],
       [ 1.77343711e+00, -3.85242589e-01,  5.69552167e-01],
       [-9.63966431e-01, -3.85242589e-01, -9.53929838e-01],
       [ 8.07294686e-01, -3.85242589e-01, -5.28171613e-02],
       [-4.80895217e-01, -3.85242589e-01, -7.98022541e-01],
       [-9.63966431e-01, -3.85242589e-01, -1.92275982e+00],
       [-1.58847741e-01, -3.85242589e-01,  1.94429763e-01],
       [-9.63966431e-01, -3.85242589e-01, -8.72984029e-01],
       [-8.02942693e-01, -3.85242589e-01,  5.96954056e-01],
       [ 1.63199734e-01, -3.85242589e-01,  1.48130021e-01],
       [-6.41918955e-01, -3.85242589e-01, -9.77867120e-01],
       [ 3.38367449e+00, -3.85242589e-01,  4.76564297e-02],
       [ 6.46270948e-01, -3.85242589e-01,  2.73587618e+00],
       [-9.63966431e-01, -3.85242589e-01, -3.47938649e-01],
       [ 3.24223472e-01, -3.85242589e-01, -3.35340080e-01],
       [-1.58847741e-01, -3.85242589e-01,  1.76791766e-01],
       [-3.19871479e-01, -3.85242589e-01,  7.47506960e-01],
       [-1.58847741e-01, -3.85242589e-01,  6.48293226e-01],
       [-9.63966431e-01, -3.85242589e-01, -1.13534924e+00],
       [-3.19871479e-01, -3.85242589e-01, -4.77073986e-01],
       [-9.63966431e-01, -3.85242589e-01, -3.47938649e-01],
       [ 8.07294686e-01,  1.54749989e+00,  2.46713826e-01],
       [-9.63966431e-01, -3.85242589e-01,  5.96954056e-01],
       [ 2.17599646e-03, -3.85242589e-01, -2.19433242e-01],
       [-4.80895217e-01, -3.85242589e-01, -1.18700337e+00],
       [-4.80895217e-01, -3.85242589e-01,  1.71129752e+00],
       [ 2.17599646e-03, -3.85242589e-01, -5.50460653e-01],
       [-8.02942693e-01, -3.85242589e-01, -3.09827977e-01],
       [ 8.07294686e-01, -3.85242589e-01,  2.42619291e-01],
       [ 6.46270948e-01, -3.85242589e-01,  1.98661563e-03],
       [-9.63966431e-01, -3.85242589e-01, -1.06385236e+00],
       [ 3.38367449e+00,  1.54749989e+00,  6.34434800e-01],
       [-8.02942693e-01, -3.85242589e-01, -7.11407377e-01],
       [ 9.68318423e-01, -3.85242589e-01,  1.30971812e+00],
       [-9.63966431e-01, -3.85242589e-01, -6.62902885e-01],
       [-3.19871479e-01, -3.85242589e-01, -2.91875016e-01],
       [ 2.17599646e-03, -3.85242589e-01, -2.47465059e-01],
       [ 2.17599646e-03, -3.85242589e-01, -3.01323943e-01],
       [ 2.17599646e-03, -3.85242589e-01, -4.66995130e-01],
       [ 2.57855580e+00, -3.85242589e-01,  3.43407846e-01],
       [ 4.85247210e-01, -3.85242589e-01, -2.66751298e-02],
       [ 1.45138964e+00, -3.85242589e-01,  1.20098204e-01],
       [-9.63966431e-01, -3.85242589e-01, -3.47938649e-01],
       [-8.02942693e-01, -3.85242589e-01, -9.77867120e-01],
       [-1.58847741e-01, -3.85242589e-01, -3.78490180e-01],
       [-8.02942693e-01, -3.85242589e-01,  9.11918291e-01],
       [ 4.85247210e-01, -3.85242589e-01, -2.07149636e-01],
       [-3.19871479e-01, -3.85242589e-01,  8.15854199e-01],
       [-4.80895217e-01, -3.85242589e-01,  2.81989821e-01],
       [ 1.63199734e-01, -3.85242589e-01, -4.78333843e-01],
       [ 3.24223472e-01, -3.85242589e-01, -6.88803373e-02],
       [-8.02942693e-01, -3.85242589e-01, -8.28889036e-01],
       [-4.80895217e-01, -3.85242589e-01, -6.48099565e-01],
       [ 2.17599646e-03,  1.54749989e+00, -1.84860596e-02],
       [ 1.63199734e-01, -3.85242589e-01,  9.26721610e-01],
       [ 9.68318423e-01, -3.85242589e-01,  3.30809277e-01],
       [-9.63966431e-01, -3.85242589e-01, -8.72984029e-01],
       [ 8.07294686e-01, -3.85242589e-01,  1.98878101e+00],
       [-9.63966431e-01, -3.85242589e-01, -1.92275982e+00],
       [ 4.85247210e-01,  3.48024237e+00,  8.01050880e-01],
       [ 8.07294686e-01, -3.85242589e-01,  1.20728132e-01],
       [ 2.09548459e+00,  1.54749989e+00,  3.68919949e-01],
       [ 3.24223472e-01,  3.48024237e+00,  1.31034805e+00],
       [ 2.90060328e+00,  3.48024237e+00,  8.63413798e-01],
       [-1.58847741e-01, -3.85242589e-01,  1.51318502e+00],
       [-9.63966431e-01, -3.85242589e-01, -1.63645734e+00],
       [-3.19871479e-01, -3.85242589e-01,  1.05648687e+00],
       [ 8.07294686e-01, -3.85242589e-01,  1.38152997e+00],
       [-1.58847741e-01, -3.85242589e-01,  4.11384470e+00],
       [-8.02942693e-01, -3.85242589e-01,  5.10968819e-01],
       [ 8.07294686e-01,  3.48024237e+00,  1.80767658e+00],
       [-9.63966431e-01, -3.85242589e-01,  3.26714742e-01],
       [-6.41918955e-01, -3.85242589e-01, -2.04944887e-01],
       [-4.80895217e-01, -3.85242589e-01,  1.76791766e-01],
       [-9.63966431e-01, -3.85242589e-01, -1.92275982e+00],
       [-9.63966431e-01, -3.85242589e-01, -1.13534924e+00],
       [ 1.63199734e-01, -3.85242589e-01,  1.30341883e+00],
       [ 1.63199734e-01, -3.85242589e-01,  2.24264218e+00],
       [-8.02942693e-01,  1.54749989e+00,  1.92673306e+00],
       [ 2.17599646e-03,  1.54749989e+00,  3.55691452e-01],
       [ 1.61241337e+00,  1.54749989e+00,  1.13239326e+00],
       [ 2.17599646e-03, -3.85242589e-01,  1.41775085e+00],
       [-9.63966431e-01, -3.85242589e-01, -1.13534924e+00],
       [-3.19871479e-01, -3.85242589e-01, -1.05731153e-01],
       [-9.63966431e-01, -3.85242589e-01, -5.36917191e-01],
       [ 1.63199734e-01, -3.85242589e-01,  9.79635601e-01],
       [-6.41918955e-01, -3.85242589e-01, -4.83058306e-01],
       [-6.41918955e-01, -3.85242589e-01,  2.80170370e+00],
       [ 1.77343711e+00,  1.54749989e+00,  1.24861506e+00],
       [ 1.77343711e+00, -3.85242589e-01,  1.82342479e+00],
       [ 3.24223472e-01,  5.41298485e+00,  4.49306164e+00],
       [ 2.17599646e-03, -3.85242589e-01, -3.68411325e-01],
       [-6.41918955e-01, -3.85242589e-01,  3.32643412e+00],
       [-4.80895217e-01, -3.85242589e-01, -3.71560967e-01],
       [-9.63966431e-01,  1.54749989e+00,  2.18996974e-01],
       [-6.41918955e-01, -3.85242589e-01,  3.78683841e-01],
       [-4.80895217e-01, -3.85242589e-01,  8.33177232e-01],
       [ 3.24223472e-01,  1.54749989e+00,  1.04349992e-01],
       [-8.02942693e-01, -3.85242589e-01,  1.85681100e+00],
       [-8.02942693e-01, -3.85242589e-01, -2.43055559e-01],
       [ 1.61241337e+00,  1.54749989e+00,  6.90183469e-01],
       [ 1.63199734e-01, -3.85242589e-01, -2.67307805e-01],
       [-8.02942693e-01, -3.85242589e-01,  1.52151135e-02],
       [-6.41918955e-01, -3.85242589e-01, -1.84860596e-02],
       [ 6.46270948e-01, -3.85242589e-01,  3.79628733e-01],
       [-1.58847741e-01, -3.85242589e-01, -4.71719594e-01],
       [-8.02942693e-01, -3.85242589e-01, -1.18794826e+00],
       [-8.02942693e-01, -3.85242589e-01,  1.98661563e-03],
       [ 1.12934216e+00,  1.54749989e+00,  2.25611223e-01],
       [ 3.24223472e-01, -3.85242589e-01, -7.29675302e-01],
       [ 2.17599646e-03, -3.85242589e-01, -2.26992383e-01],
       [ 2.90060328e+00, -3.85242589e-01,  5.54433884e-01],
       [-1.58847741e-01, -3.85242589e-01,  5.88135057e-01],
       [ 2.90060328e+00, -3.85242589e-01,  1.68602696e-01],
       [-4.80895217e-01, -3.85242589e-01, -1.85102140e-01],
       [-6.41918955e-01, -3.85242589e-01, -7.28100481e-01],
       [-8.02942693e-01, -3.85242589e-01, -7.41643943e-01],
       [ 9.68318423e-01, -3.85242589e-01,  3.30494313e-01],
       [ 1.63199734e-01, -3.85242589e-01,  2.15143982e-02],
       [-9.63966431e-01, -3.85242589e-01, -1.13534924e+00],
       [ 9.68318423e-01,  1.54749989e+00,  1.51279663e-01],
       [-3.19871479e-01, -3.85242589e-01,  8.76642296e-01],
       [-4.80895217e-01, -3.85242589e-01, -3.47938649e-01],
       [-9.63966431e-01, -3.85242589e-01, -1.60338609e+00],
       [ 3.24223472e-01, -3.85242589e-01, -4.67940023e-01],
       [ 4.85247210e-01, -3.85242589e-01, -3.21796618e-01],
       [ 6.46270948e-01, -3.85242589e-01,  4.34117546e-01],
       [ 2.17599646e-03, -3.85242589e-01,  1.56319091e-01],
       [-9.63966431e-01, -3.85242589e-01, -1.52905453e+00],
       [ 3.24223472e-01,  1.54749989e+00, -9.94318681e-02],
       [-9.63966431e-01, -3.85242589e-01, -4.91247376e-01],
       [ 1.63199734e-01, -3.85242589e-01, -1.98645602e-01],
       [-4.80895217e-01, -3.85242589e-01, -5.88256361e-01],
       [-8.02942693e-01, -3.85242589e-01, -9.14874273e-01],
       [-1.58847741e-01, -3.85242589e-01,  6.53962582e-01],
       [-9.63966431e-01, -3.85242589e-01, -1.08306517e+00],
       [-3.19871479e-01,  1.54749989e+00,  5.72386845e-01],
       [-6.41918955e-01, -3.85242589e-01, -9.47945517e-01],
       [ 1.63199734e-01, -3.85242589e-01, -4.19750495e-01],
       [ 3.24223472e-01, -3.85242589e-01,  1.11223554e+00],
       [ 1.45138964e+00, -3.85242589e-01,  1.71665191e+00],
       [-9.63966431e-01, -3.85242589e-01,  1.22688253e+00],
       [ 1.93446085e+00, -3.85242589e-01, -2.23842741e-01],
       [-9.63966431e-01, -3.85242589e-01, -1.29283135e+00],
       [-9.63966431e-01, -3.85242589e-01, -1.39802941e+00],
       [ 1.61241337e+00,  5.41298485e+00,  2.21443267e-02],
       [-9.63966431e-01, -3.85242589e-01, -1.60779559e+00],
       [-1.58847741e-01, -3.85242589e-01, -5.12035016e-01],
       [ 3.24223472e-01, -3.85242589e-01,  7.34593426e-01],
       [-4.80895217e-01, -3.85242589e-01, -5.31247834e-01],
       [-8.02942693e-01, -3.85242589e-01, -6.62902885e-01],
       [ 1.63199734e-01, -3.85242589e-01, -5.50460653e-01],
       [-9.63966431e-01, -3.85242589e-01, -1.06385236e+00],
       [ 9.68318423e-01, -3.85242589e-01,  3.05297174e-01],
       [ 1.63199734e-01, -3.85242589e-01,  7.57585815e-01],
       [ 8.07294686e-01, -3.85242589e-01,  1.60483961e+00],
       [-6.41918955e-01, -3.85242589e-01, -1.33448005e-01],
       [-8.02942693e-01, -3.85242589e-01, -9.96450009e-01],
       [-8.02942693e-01, -3.85242589e-01, -5.96760395e-01],
       [-4.80895217e-01, -3.85242589e-01, -4.96601768e-01],
       [-9.63966431e-01, -3.85242589e-01, -1.06385236e+00],
       [ 2.17599646e-03, -3.85242589e-01, -3.19906833e-01],
       [-8.02942693e-01, -3.85242589e-01, -8.34873357e-01],
       [ 2.17599646e-03, -3.85242589e-01, -2.26992383e-01],
       [ 1.63199734e-01,  1.54749989e+00,  1.43405557e-01],
       [-1.58847741e-01,  5.41298485e+00, -3.69986146e-01],
       [ 3.24223472e-01, -3.85242589e-01, -3.37859794e-01],
       [-9.63966431e-01, -3.85242589e-01, -1.08904949e+00],
       [-6.41918955e-01, -3.85242589e-01, -9.28417735e-01],
       [ 2.17599646e-03,  1.54749989e+00, -8.96679768e-02],
       [-9.63966431e-01, -3.85242589e-01, -1.92275982e+00],
       [ 2.17599646e-03,  1.54749989e+00,  1.16735429e+00],
       [ 2.17599646e-03, -3.85242589e-01,  1.59783697e-01],
       [-8.02942693e-01, -3.85242589e-01,  2.27665832e+00],
       [-9.63966431e-01, -3.85242589e-01, -1.02290701e+00]])

In [259]:
data_df_normalized=pd.DataFrame(data_normalized,columns=['4s','6s','SR'])
data_df_normalized=data_df_normalized.join(data_df[data_df.columns.drop(['4s','6s','SR'])])
data_df_normalized

,4s,6s,SR,Batsman,Runs,Mins,BF,Pos,Inns,Dismissal_bowled,Dismissal_caught,Dismissal_hit wicket,Dismissal_lbw,Dismissal_not out,Dismissal_run out,Dismissal_stumped
0,-0.158848,-0.385243,-0.066991,1,33,78.0,56,3,2,0,1,0,0,0,0,0
1,0.002176,-0.385243,0.198209,1,33,77.0,49,3,4,0,1,0,0,0,0,0
2,3.061627,1.547500,0.034113,1,215,503.0,346,3,1,0,0,0,1,0,0,0
3,0.485247,-0.385243,1.882953,1,58,67.0,48,3,3,1,0,0,0,0,0,0
4,-0.802943,-0.385243,-0.698179,1,7,26.0,18,3,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,-0.963966,-0.385243,-1.922760,6,0,2.0,4,1,4,1,0,0,0,0,0,0
292,0.002176,1.547500,1.167354,6,52,NaN,53,1,1,1,0,0,0,0,0,0
293,0.002176,-0.385243,0.159784,6,41,NaN,62,1,3,0,1,0,0,0,0,0
294,-0.802943,-0.385243,2.276658,6,4,NaN,3,1,2,0,1,0,0,0,0,0
295,-0.963966,-0.385243,-1.022907,6,2,NaN,7,1,4,0,0,0,1,0,0,0

In [264]:
Y = data_df_normalized["Dismissal_bowled"]
X = data_df_normalized[data_df_normalized.columns.drop("Dismissal_bowled")]
print(X.shape)

(296, 15)

In [265]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2, random_state=100)
X_train.shape , X_test.shape

((236, 15), (60, 15))

In [266]:

from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train,Y_train)

train_score=model.score(X_train,Y_train)
test_score=model.score(X_test,Y_test)
print('Train Score (R-Squared): ',train_score)
print('Test Score (R-Squared)',test_score)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [267]:
from sklearn.metrics import mean_squared_error

train_predictions = model.predict(X_train)
train_RMSE=mean_squared_error(Y_train,train_predictions)**0.5

test_predictions = model.predict(X_test)
test_RMSE=mean_squared_error(Y_test,test_predictions)**0.5
print('Train RMSE : ',train_RMSE)
print('Test RMSE : ',test_RMSE)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').